

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,20,0.3) 50%), url('http://hgtvhome.sndimg.com/content/dam/images/hgtv/fullset/2011/1/13/1/Original_Shower-Brunch-Bryan-Patrick-Flynn-Drinks_s3x4.jpg.rend.hgtvcom.1280.1707.jpeg');">
  <div class="banner-content">

    <h1>IDRINK</h1>
    <p>Find the best cocktails for your party!</p>
    <a class="btn btn-primary btn-lg">GET IT</a>

  </div>
</div>



<div class="col-sm-8 col-sm-offset-2">
<br>

<br>
   <%= link_to new_cocktail_path(@cocktail) do %>
      ADD A NEW COCKTAIL!</i></h1>
    <%end%>
    <hr>
<br>



  <% @cocktails.each do |cocktail| %>
  <div class="product">
    <div class='product-upvote'>
      <div class="product-arrow"></div><!--
      <div class='product-count'>95</div> -->
    </div><!--
    <img src="kudoz.jpg" alt="kudoz" class="product-image hidden-xs"> -->
<!--
    :width => 100, :height => 150, :crop => :fill -->

    <%= cl_image_tag(cocktail.photo.full_public_id, width: 80, height: 100, crop: :fill, class: "product-image hidden-xs") %>

    <div class='product-body'>

      <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>

      <p>Les meilleures offres d'emploi cadre sur mobile</p>
    </div>
    <ul class="list-inline product-controls hidden-sm hidden-xs">
      <li><a href=""><i class="fa fa-heart"></i></a></li>
      <li><a href=""><i class="fa fa-share"></i></a></li>
      <li><a href=""><i class="fa fa-star"></i></a></li>
    </ul>
  </div>
<%end%>

</div>

