<div class="col-sm-8 col-sm-offset-2">
<br>
<br>
<h3>All Cocktails</h3>
<br>
   <%= link_to new_cocktail_path(@cocktail) do %>
      ADD A NEW COCKTAIL!</i></h1>
    <%end%>
<br>
<br>

  <%@cocktails.each do |cocktail| %>
  <p><%= cocktail.name %></p>
  <hr>
<%end%>
<br>
<br>
</div>

