
<div class="col-sm-8 col-sm-offset-2">
<br>
<br><br>

    <h1><%= @cocktail.name %></h1>


    <%= link_to cocktail_path(@cocktail),
      method: :delete,
      data: { confirm: "Are you sure?" } do %>
      <i class="fa fa-trash-o"></i>
    <%end%>

    <%= link_to edit_cocktail_path(@cocktail) do %>
      <i class="fa fa-pencil"></i></h1>
    <%end%>


  <hr>

  </div>
